/CYY_Demo/Intermediate
/CYY_Demo/Saved
/CYY_Demo/Plugins/SecSystem/Intermediate
/CYY_Demo/Plugins/SecSystem/Intermediate
/CYY_Demo/Plugins/SecSystem/Intermediate/Build
/CYY_Demo/Plugins/SecSystem/Intermediate/Build/Win64/x64/UnrealEditor
